<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="dashboardContainer"></div>

    <script src="/powerbi.js"></script>
    <script>
        window.onload = function () {
            var dashboard = powerbi.embed(document.getElementById('dashboardContainer'), {
                type: 'report',
                accessToken: "<%= access_token %>",
                tokenType: window['powerbi-client'].models.TokenType.Embed,
                embedUrl: "<%= embed_url %>",
                permissions: window['powerbi-client'].models.Permissions.All,
                settings: {
                    filterPaneEnabled: false,
                    navContentPaneEnabled: false
                }
            });
        } 
/*
        client.onerror = function (e) {
            console.log("Network Error: " + this.statusText);
        }
*/
    </script>
</body>
</html>