<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="dashboardContainer"></div>

    <script src="/powerbi.js"></script>
    <script>
        window.onload = function () {
            let models = window['powerbi-client'].models,
                accessToken =  "<%= access_token %>", // User Owns Data
                embedToken =  "<%= embed_token %>", // App Owns Data
                tokenType = accessToken.length >0 ? models.TokenType.Aad : models.TokenType.Embed,
                token = accessToken.length >0 ? accessToken : embedToken

            var dashboard = powerbi.embed(document.getElementById('dashboardContainer'), {
                type: 'report',
                accessToken: token,
                tokenType: tokenType,
                embedUrl: "<%= embed_url %>",
                permissions: models.Permissions.All,
                settings: {
                    filterPaneEnabled: false,
                    navContentPaneEnabled: false
                }
            });
        } 
/*
        client.onerror = function (e) {
            console.log("Network Error: " + this.statusText);
        }
*/
    </script>
</body>
</html>