<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="dashboardContainer"></div>

    <script src="/powerbi.js"></script>
    <script>
        window.onload = function () {
            let models = window['powerbi-client'].models,
                accessToken =  "<%= access_token %>", // User Owns Data
                embedToken =  "<%= embed_token %>", // App Owns Data
                tokenType = accessToken.length >0 ? models.TokenType.Aad : models.TokenType.Embed,
                token = accessToken.length >0 ? accessToken : embedToken

            var filters = [],
                urlfilter = "<%= filters %>"
                
            if ( urlfilter.length > 5) {
              filters = urlfilter.split("&").map(f=> { 
                let farray = f.split("=")
                return {
                    $schema: "http://powerbi.com/product/schema#basic",
                    target: {
                        table:  farray[0].split(".")[0],
                        column: farray[0].split(".")[1]
                    },
                    operator: "In",
                    values: [decodeURIComponent(farray[1])]
                }
              })
            }

            console.log (JSON.stringify(filters))
            var report = powerbi.embed(document.getElementById('dashboardContainer'), {
                type: 'report',
                accessToken: token,
                tokenType: tokenType,
                embedUrl: "<%= embed_url %>",
                permissions: models.Permissions.All,
                settings: {
                    filterPaneEnabled: false,
                    navContentPaneEnabled: false
                },
                filters: filters
            });

        } 
/*
        client.onerror = function (e) {
            console.log("Network Error: " + this.statusText);
        }
*/
    </script>
</body>
</html>